<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bronkz.bookingkz" version="1.1.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Broniruy.KZ</name>
    <description>
        Бронируй отдых, бронируй развлечения, бронируй всё!
    </description>
    <author email="m.polazhynets@hotmail.com" href="http://flamix.info">
        Flamix Team
    </author>
    <content src="index.html" />
    <icon src="res/icon.png" />
    <access origin="*" />
    <access origin="https://www.xn--90aodoeldy.kz/" subdomains="true" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="data:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="mdpi" src="res/android/drawable-mdpi/ic_icon.png" />
        <icon density="hdpi" src="res/android/drawable-hdpi/ic_icon.png" />
        <icon density="xhdpi" src="res/android/drawable-xhdpi/ic_icon.png" />
        <icon density="xxhdpi" src="res/android/drawable-xxhdpi/ic_icon.png" />
        <icon density="xxxhdpi" src="res/android/drawable-xxxhdpi/ic_icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
    </platform>
    <engine name="browser" spec="~4.1.0" />
    <allow-navigation href="*" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.2" />
    <plugin name="onesignal-cordova-plugin" spec="~1.13.1" />
</widget>
